# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
local_db_*.json
*.bak

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

e2b.local.toml
e2b.*.local.toml

**/.react-router
apps/mobile/caches/*

#venv
venv

#models
yolov8m.pt
yolov8n.pt


#__pycache__
__pycache__

Backend/chroma_db/
Backend/chroma_db_storage/
Backend/__pycache__/
**/__pycache__/
*.mp3
*.wav